:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.navButton {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
/* Path: app/components/Header.js */
.container {
  margin-bottom: 1rem;
  height: 5rem;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  min-width: 100%;
  background-color: white;
}
.flexItems {
  flex: 1;
  display: flex;
  align-items: center;
}
.logoImage{
  cursor: pointer;
  height: 5rem;
  width: 10rem;
}
.searchContainer {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  border-radius: 20px;
}
.searchContainer input {
  border: none;
  width: 100%;
  &:focus {
    outline: none;
  }
}
.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    display: none;
  }
}
.menuItems{
  margin-Right: 1rem;
  cursor:pointer;
  font-size:18px;
}